body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #F6F6F6;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

header .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 38, 0.15);
  position: relative;
}
header .header-logo img {
  width: 162px;
  padding: 14px 0px 13px 0px;
  margin-top: 14px;
}
header .location {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
}

.reservation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reservation-container h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin: 39px 42px 0 58px;
}
.reservation-container p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 21px 34px 0 26px;
}
.reservation-container .btn {
  border-radius: 25px;
  display: inline-block;
  padding: 16px 19px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin: 27px 0 57px 0;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.fonctionnement {
  background-color: #FFF;
  padding-left: 20px;
  padding-bottom: 68px;
}
.fonctionnement h2 {
  padding-top: 48px;
}

.fonctionnement-steps {
  margin: 26px 20px 0 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fonctionnement-steps-card {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: #F7F7F7;
  border-radius: 20px;
  gap: 23px;
}
.fonctionnement-steps-card h3 {
  padding: 28.59px 20px 28.12px 0px;
  height: 15.67px;
  margin: 0;
}
.fonctionnement-steps-card span {
  background: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6F6F6;
  font-size: 14.18px;
  position: relative;
  margin-left: -12.51px;
}
.fonctionnement-steps-card i {
  color: #7E7E7E;
}
.fonctionnement-steps-card i .icon-store {
  color: #9456DC;
}

/* Restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-left: 25px;
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 24px;
}
.restaurants .card-content {
  border-radius: 15px;
  position: relative;
  margin: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.restaurants .card-content img {
  height: 231px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .card-content .nouveau {
  position: absolute;
  top: 0%;
  right: 5%;
}
.restaurants .card-content .nouveau-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.restaurants .card-content .nouveau-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 5%;
}
.restaurants .card-content .card-txt h3 {
  display: inline-block;
  margin: 20px 0 0 15px;
  border-radius: 20px 20px 0 0;
  font-weight: 700;
}
.restaurants .card-content .card-txt p {
  margin: 5px 0 0 17px;
}
.restaurants .card-content .empty {
  position: absolute;
  top: 83%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}
.restaurants .card-content .full {
  position: absolute;
  top: 83%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 22px 0 33px 25px;
  background: #353535;
  color: #FFF;
  gap: 16px;
}
footer .footer-logo img {
  filter: invert(1);
  width: 139px;
  height: 21px;
}
footer p {
  margin: 0;
  font-weight: 500;
}
footer .footer-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0px;
}
footer .footer-list a {
  color: #FFF;
  font-weight: 400;
}
footer .footer-list .footer-icon-txt {
  display: flex;
  align-items: center;
  gap: 11px;
}/*# sourceMappingURL=style.css.map */