$white: #FFF;
$whitesmoke: #F6F6F6;
$transparent: transparent;
$darkgrey: #353535;
$grey: #7E7E7E;
$purple: #9356DC;
$viridian: #008766;
$lightgreen: #99E2D0;
$lightgrey: #EAEAEA;
$magnolia: #F5EDFF;
$rose:#FF79DA
