$backgroundcolor: #F6F6F6;
$white: #FFF;
$WhiteSmoke: #F6F6F6;
$Transparent: transparent;
$DarkShadeofGrey: #353535;
$Grey: #7E7E7E;
$Purple: #9356DC;
$Viridian: #008766;
$LightGreen: #99E2D0;
$verylightshadeofgrey: #EAEAEA;
$magnolia: #F5EDFF;
$PaleMagenta:#FF79DA
